/*full page*/
* {
    margin: 0;
    padding: 0;

}

/*card image*/
.brooks {
    background-color: transparent;
    border-radius: 5%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*outter card*/
#brooks_card {
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*inner card content*/
.address {
    color: white;
    margin: 5%;
}

/*email button*/
.email_button {
    margin: 5%;
    background-color: white;
    color: black;
    transition: background-color 1s;
}

/*email button hover effect*/
.email_button:hover {
    background-color: red;
}

/*inner card*/
.container {
    background-color: transparent;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
    width: 50%;

}

/*card header title*/
h3 {
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
}

/*sub heading title*/
h5 {
    color: white;
    font-size: medium;
}

/*card thumbnail banner*/
#nav.nav {
    background-color: white;
}

/*resume thumbnail image*/
.resume {
    width: 3%;
    height: 6%;
    opacity: .5;
    transition: .3s
}

/*resume thumbnail transition*/
.resume:hover {
    opacity: 1;
}

/*linkedin thumbnail image*/
.linkedin {
    width: 5%;
    height: 5%;
    padding-top: 1%;
    opacity: 0.5;
    transition: 0.3s;
}

/*hover opacity transition*/
.linkedin:hover {
    opacity: 1;
}

/*Github thumbnail image*/
.projects {
    width: 5%;
    height: 5%;
    opacity: .5;
    transition: .3s;
}

/*project thumbnail transition*/
.projects:hover {
    opacity: 1
}

/*education/training thumbnail image*/
.education {
    width: 5%;
    height: 15%;
    opacity: .5;
    transition: .3s;
}

/*education thumbnail transition*/
.education:hover {
    opacity: 1;
}

/*home thumbnail image*/
.home {
    width: 4.5%;
    height: 5%;
    padding-right: .5%;
    opacity: .5;
    transition: .3s;
}

/*home thumbnail transition*/
.home:hover {
    opacity: 1;
}

/*header scroll lock*/
header {
    position: fixed;
    background-color: black;
}